.root
{
	background: rgb(2,0,36);
	background: linear-gradient(27deg, rgba(2,0,36,1) 0%, rgba(47,47,93,1) 0%, rgba(1,0,45,1) 25%, rgba(43,41,128,1) 98%);
	display: flex;
	position: fixed;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width:100vw;
	height: 60px;
	box-shadow:
	  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
	  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
	  0 12.5px 10px rgba(0, 0, 0, 0.06),
	  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
	  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
	  0 100px 80px rgba(0, 0, 0, 0.12);
}
.main
{
	color: white;
	width:60vw;
	display: flex;
	justify-content: flex-end;
}
.btns
{
	width:30vw;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}
.btns>*
{ 
	margin:20px;
}
.nbutton {
    display: inline-block;
    border: none;
    width:100px;
    height: 30px;
    text-decoration: none;
    background: rgba(0,0,0,0);
    color: #ffffff;
    border: solid .1px white;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 5px;
}

.nbutton:hover,
.nbutton:focus {
    background: rgba(0,0,0,.4);
    transform: scale(1.1);
}

.nbutton:focus {
	outline: none;
}

.nbutton:active {
    transform: scale(0.95);
}